*{
    margin:0;
    padding:0;
}
.main-div-pg1{
    background-image: url(./images/bg-img.webp);
    background-size: cover;
}
.container{
    max-width:1800px;
    margin:0 auto;
}
.info-about-me{
    padding-top:154px;
}
.info-space{
    width:1600px;
    height:250px;
    background-color: #41303f;
    border-radius: 35px 35px 0px 0px;
    margin: 0 auto;
    display: flex;
}
.my-photo{
    height:300px;
    width:300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:50px;
    margin-top:80px;
    position: absolute;

}
.blue-space-links{
    display: flex;
    margin-left:670px;
    margin-top:20px;
}
.blue-space-links a{
    text-decoration: none;
    color:white;
    font-size: 40px;
    padding-left:80px;
}
.blue-space-links a::after{
    position: absolute;
    content: "";
    height: 50px;
    background-color: #ffffff;
    width: 1px;
    margin-left: 30px;
}
.info-box{
    width:1600px;
    height:600px;
    background-color: #321D2F;
    margin: 0 auto;
    display: flex;
}
.my-name{
    position: absolute;
    margin-left:350px;
    margin-top:12px;
}
.my-name h3{
    font-size: 40px;
    color:white;
}
.profession{
    color: white;
    font-size: 25px;
}
.skills{
    position: absolute;
    display: flex;
    margin-left:900px;
    margin-top:20px;
}
.skills span{
    font-size: 25px;
    color:rgb(49, 49, 49);
}
.skill{
    text-align: center;
    width:100px;
    height:30px;
    background-color: #858585;
    margin-right:30px;
    border-radius: 12px;
    transition-duration: 0.2s;
}
.skill:hover{
    background-color: rgb(109, 102, 102);
    transform: scale(1.1);
}
.blue-box-info{
    color:white;
    font-size: 35px;
    padding:0px 40px 0px 40px;
}
.my-main-info{
    margin-top:140px;
}
.my-info{
    position: absolute;
    margin-top:40px;
    margin-left:850px;
}
.contact-with-me{
margin-top:80px;
}
.inst-div{
    display: flex;
    margin-top:15px;
}
.instagram-icon{
    width:40px;
    height:40px;
}
.my-inst{
    margin-top:2px;
}
.my-inst-link{
    color:rgb(0, 94, 255);
    transition-duration:0.3s;
}
.my-inst-link:hover{
    color:rgb(255, 255, 255);
    margin-left:10px;
    transform:scale(1.1);
}
.my-gmail{
    color:rgb(0, 94, 255);
    margin-top:15px;
    transition-duration: 0.3s;
}
.my-gmail:hover{
    color: white;
    transform:scale(1.1);
    margin-left:10px;
}
.about-works-div{
    background-color: #321D2F;
    height:220px;
    border:1px 0px 0px 0px solid;
}
.about-works p{
    text-align: center;
    font-size:30px;
    color:white;
    padding-top:50px;
}
.works-container{
    max-width:1835px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    margin-top:10px;
}
.work-links{
    text-decoration: none;
}
.site1{
    height:920px;
    width:910px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    margin-top:25px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.44);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
}
.site1:hover{
    transform: scale(1.05);
}
.motorsport-link{
    height:460px;
}
.motorsport-site{
    height:460px;
    width:910px;
    background-color: rgb(255, 255, 255);
    margin-top:25px;

    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.44);
    background-image: url(./images/karting-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
}
.motorsport-site:hover{
    transform: scale(1.05);
}
.motorsport-site-info{
    height:70px;
    width:910px;
    background-color: rgba(215, 215, 215, 0.3);
    position:absolute;
    margin-top:390px;
}
.motorsport-site-info p{
    font-size:25px;
    color:black;
    font-weight: 700;
    text-align: center;
}

.ms-see{
    width:180px;
    height:60px;
    background-color: rgb(27, 27, 27);
    border:3px solid orange;
    margin-left:55px;
    margin-top:55px;
    position: absolute;
    transition-duration: 0.1s;
}
.ms-see p{
    color:white;
    font-size:30px;
    text-align: center;
    margin-top:12px;
}
.ms-see:hover{
    background-color: rgb(46, 46, 46);
    transform:scale(1.1);
}
.tuning-project{
    height:460px;
    width:910px;
    background-image: url(./images/tuning-project.jpg);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.44);
    background-repeat: no-repeat;
    margin-bottom: 33.5px;
    background-size: cover;
    transition-duration: 0.2s;
}
.tuning-project:hover{
    transform: scale(1.05);
}
    /* first project */

    /* motorsport project */
.header-sodi{
    height:100vh;
    width:100%;
    background-image: url(./images/sodi-kart.jpg);
    background-size:cover;
    position: relative;
}
.ms-first-header{
    display: flex;
    justify-content: space-between;
    max-width:1900px;
    margin:0 auto;
}
.black-ms-logo-desktop img{
    width:200px;
}
.sport-nav-desktop ul{
    display: flex;
    list-style: none;
    padding-top:16px;
}
.sport-nav-desktop li{
    margin-left:20px;
}
.sport-nav-desktop a{
    text-decoration: none;
    color:black;
    font-size: 27px;
}
.sport-nav-desktop img{
    width:30px;
}
/* .sodi-img{
    position:absolute;
    top:200px;
    max-width:550px;
}
.sodi-img img{
    margin:0 auto;
    display: block;
    width:550px;
    transform: translate(50%);
} */
.sodi-img{
    position:absolute;
    bottom:600px;
    left:50.6%;
    transform: translateX(-50%);
    width:550px;
}
.sodi-img img{
    width:550px;
}
.sodi-header-desktop{
    background-color: #111;;
    width:100%;
    height:200px;
    display: flex;
}
.container-sodi-header{
    max-width:1900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.sodi-logo{
    margin-top:30px;
    margin-left:-580px;
    position: absolute;
}
.sodi-logo img{
    width:450px;
}
.ms-series-desktop{
    margin-top:140px;
    margin-right:5px;
}
.ms-series-desktop ul{
    display: flex;
    list-style:none;
}
.ms-series-desktop li{
    margin-left:15px;
}
.ms-series-desktop span{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 700;
    transition-duration: 0.3s;
}
.ms-series-desktop span::after{
    content:"";
    height:40px;
    width:1px;
    background-color: white;
    color: white;
    position: absolute;
    margin-left:6px;
}
.ms-series-desktop span:hover{
    color:rgb(255, 217, 0);
    font-size:29px;
}
.social_networks{
    display: flex;
    position: absolute;
    margin-left:737px;
    margin-top:-155px;
}
.social_networks div{
    width:58px;
    height:58px;
    border: 1px solid rgb(135, 135, 135);
    margin-left:10px;
}
i {
    color:blue;
}
.views{
    display: flex;
    max-width:1900px;
    margin:0 auto;
}
.sodi-game{
    width:500px;
    height:1000px;
    background-color: black;
}
.racing{
    display: flex;
}
.sodi-team{
    
}