*{
    margin:0;
    padding:0;
}
.main-div-pg1{
    background-image: url(./images/bg-img.webp);
    background-size: cover;
}
.container{
    max-width:1800px;
    margin:0 auto;
}
.info-about-me{
    padding-top:154px;
}
.info-space{
    width:1600px;
    height:250px;
    background-color: #41303f;
    border-radius: 35px 35px 0px 0px;
    margin: 0 auto;
    display: flex;
}
.my-photo{
    height:300px;
    width:300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:50px;
    margin-top:80px;
    position: absolute;

}
.blue-space-links{
    display: flex;
    margin-left:670px;
    margin-top:20px;
}
.blue-space-links a{
    text-decoration: none;
    color:white;
    font-size: 40px;
    padding-left:80px;
}
.blue-space-links a::after{
    position: absolute;
    content: "";
    height: 50px;
    background-color: #ffffff;
    width: 1px;
    margin-left: 30px;
}
.info-box{
    width:1600px;
    height:600px;
    background-color: #321D2F;
    margin: 0 auto;
    display: flex;
}
.my-name{
    position: absolute;
    margin-left:350px;
    margin-top:12px;
}
.my-name h3{
    font-size: 40px;
    color:white;
}
.profession{
    color: white;
    font-size: 25px;
}
.skills{
    position: absolute;
    display: flex;
    margin-left:900px;
    margin-top:20px;
}
.skills span{
    font-size: 25px;
    color:rgb(49, 49, 49);
}
.skill{
    text-align: center;
    width:100px;
    height:30px;
    background-color: #858585;
    margin-right:30px;
    border-radius: 12px;
    transition-duration: 0.2s;
}
.skill:hover{
    background-color: rgb(109, 102, 102);
    transform: scale(1.1);
}
.blue-box-info{
    color:white;
    font-size: 35px;
    padding:0px 40px 0px 40px;
}
.my-main-info{
    margin-top:140px;
}
.my-info{
    position: absolute;
    margin-top:40px;
    margin-left:850px;
}
.contact-with-me{
margin-top:80px;
}
.inst-div{
    display: flex;
    margin-top:15px;
}
.instagram-icon{
    width:40px;
    height:40px;
}
.my-inst{
    margin-top:2px;
}
.my-inst-link{
    color:rgb(0, 94, 255);
    transition-duration:0.3s;
}
.my-inst-link:hover{
    color:rgb(255, 255, 255);
    margin-left:10px;
    transform:scale(1.1);
}
.my-gmail{
    color:rgb(0, 94, 255);
    margin-top:15px;
    transition-duration: 0.3s;
}
.my-gmail:hover{
    color: white;
    transform:scale(1.1);
    margin-left:10px;
}
.about-works-div{
    background-color: #321D2F;
    height:220px;
    border:1px 0px 0px 0px solid;
}
.about-works p{
    text-align: center;
    font-size:30px;
    color:white;
    padding-top:50px;
}
.works-container{
    max-width:1835px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    margin-top:10px;
}
.work-links{
    text-decoration: none;
}
.site1{
    height:920px;
    width:910px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    margin-top:25px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.44);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
}
.site1:hover{
    transform: scale(1.05);
}
.motorsport-link{
    height:460px;
}
.motorsport-site{
    height:460px;
    width:910px;
    background-color: rgb(255, 255, 255);
    margin-top:25px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.44);
    background-image: url(./images/enri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
}
.motorsport-site:hover{
    transform: scale(1.05);
}
.motorsport-site-info{
    height:70px;
    width:910px;
    background-color: rgba(215, 215, 215, 0.3);
    position:absolute;
    margin-top:390px;
}
.motorsport-site-info p{
    font-size:25px;
    color:black;
    font-weight: 700;
    text-align: center;
}

.ms-see{
    width:180px;
    height:60px;
    background-color: rgb(27, 27, 27);
    border:3px solid orange;
    margin-left:55px;
    margin-top:55px;
    position: absolute;
    transition-duration: 0.1s;
}
.ms-see p{
    color:white;
    font-size:30px;
    text-align: center;
    margin-top:12px;
}
.ms-see:hover{
    background-color: rgb(46, 46, 46);
    transform:scale(1.1);
}
.tuning-project{
    height:460px;
    width:910px;
    background-image: url(./images/tuning-project.jpg);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.44);
    background-repeat: no-repeat;
    margin-bottom: 33.5px;
    background-size: cover;
    transition-duration: 0.2s;
}
.tuning-project:hover{
    transform: scale(1.05);
}
    /* first project */

    /* motorsport project */
.header-sodi{
    height:100vh;
    width:100%;
    background-image: url(./images/sodi-kart.jpg);
    background-size:cover;
}
.ms-first-header{
    display: flex;
    justify-content: space-between;
    max-width:1900px;
    margin:0 auto;
}
.black-ms-logo-desktop img{
    width:200px;
}
.sport-nav-desktop ul{
    display: flex;
    list-style: none;
    padding-top:16px;
}
.sport-nav-desktop li{
    margin-left:20px;
}
.sport-nav-desktop a{
    text-decoration: none;
    color:black;
    font-size: 27px;
}
.sport-nav-desktop img{
    width:30px;
}
.sodi-img{
    margin:0 auto;
    position:absolute;
    bottom:500px;
    left:50.6%;
    transform: translateX(-50%);
    width:550px;
}
.sodi-img img{
    width:550px;
}
.sodi-header-desktop{
    background-color: #111;;
    width:100%;
    height:210px;
    display: flex;
}
.container-sodi-header{
    max-width:1900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.sodi-logo{
    margin-top:30px;
    margin-left:-580px;
    position: absolute;
}
.sodi-logo img{
    width:450px;
}
.ms-series-desktop{
    margin-top:140px;
    margin-right:5px;
}
.ms-series-desktop ul{
    display: flex;
    list-style:none;
}
.ms-series-desktop li{
    margin-left:15px;
}
.ms-series-desktop a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 700;
    transition-duration: 0.3s;
}
.ms-series-desktop a:hover{
    background-color:rgb(57, 57, 57);
}
.social_networks{
    display: flex;
    position: absolute;
    margin-left:737px;
    margin-top:-155px;
}
.social_networks a{
    width:58px;
    height:58px;
    border: 1px solid rgb(135, 135, 135);
    margin-left:10px;
    transition-duration: 0.1s;
}
.social_networks a:hover{
    transform:scale(1.1);
}
.social_networks img{
    width:58px;
    height:58px;
}
.views{
    display: flex;
    max-width:2025px;
    margin:0 auto;
}
.sodi-game{
    width:50%;
    height:800px;
    background-image: url(./images/sodi-game.jpg);
    background-size: cover;
}
.racing-game{
    font-size: 40px;
    position: absolute;
    margin-left:-470px;
    margin-top:80px;
    color: white;
}
.racing-game-pt2{
    font-size: 40px;
    position: absolute;
    margin-left:-280px;
    margin-top:122px;
    color:#ff5220;
}
.game-open{
    position: absolute;
    margin-left:-340px;
    margin-top:218px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    width:300px;
    height:44px;
    text-align: center;
    padding-top:13px;
    background-color: #ff5220;
}
.game-open:hover{
    background-color:#fe683f;
}
.sodi-team{
    height:50%;
    width:100%; 
    background-image: url(./images/karting-site.jpg);
    background-size:cover;
    transition-duration: 0.1s;
    text-decoration: none;
}
.sodi-team:hover{
    transform:scale(1.1);
}
.racing{
    display: flex;
    flex-direction: column;
    width:50%;
}
.racing-sport{
    color:white;
    font-size:20px;
    font-weight: 700;
    position: absolute;
    margin-left:45px;
    margin-top:65px;
}
.racing-team{
    font-size: 40px;
    color:#ff5220;
    margin-top:90px;
    margin-left:45px;
}
.start-team{
    width:300px;
    height:48px;
    color:white;
    font-size:30px;
    font-weight: 700;
    text-align: center;
    padding-top:10px;
    border:2.5px solid #ff5220;
    background-color: rgba(49, 49, 49, 0.44);
    margin-left:45px;
    margin-top:55px;
    transition: 0.2s;
}
.start-team:hover{
    background-color: rgba(140, 140, 140, 0.44);
}
.sodi-sws{
    height:50%;
    width: 100%;
    background-image: url(./images/karting\ sws.jpg);
    background-size:cover;
    transition-duration: 0.1s;
    text-decoration: none;
}
.sodi-sws:hover{
    transform:scale(1.1);
}
.sws-series{
    font-size:20px;
    font-weight: 700;
    margin-top:65px;
    margin-left: 45px;
    position: absolute;
    color:white
}
.sws-rating{
    font-size:40px;
    color:#ff5220;
    margin-left:45px;
    margin-top:90px ;
}
.sws-rating-pt2{
    font-size:40px;
    color:#ffffff;
    margin-left:45px;
}
.start-sws{
    width:300px;
    height:48px;
    color:white;
    font-size:30px;
    font-weight: 700;
    text-align: center;
    padding-top:10px;
    border:2.5px solid #ff5220;
    background-color: rgba(49, 49, 49, 0.44);
    margin-left:45px;
    margin-top:50px;
    transition-duration: 0.2s;
}
.start-sws:hover{
    background-color: rgba(140, 140, 140, 0.44);
}
.info-line{
    width:100%;
    height:100px;
    background-color: #111;
}
.info-line div{
    display: flex;
    margin: 0 auto;
    max-width: 1900px;
}
.rent-karts{
    font-size: 30px;
    color:white;
}
.rent-karts-2{
    font-size: 30px;
    color: #ff5220;
}
.info-line-2{
    width:100%;
    height:100px;
    background-color: #3a3a3a;
}
.sodi-container{
    max-width:2025px;
    height:65vh;
    margin:0 auto;
}
.sport-karts{
    display: flex;
    text-decoration: none;
}
.sport-karts a{
    height:400px;
    width:600px;
    text-decoration: none;
    border:3px solid rgba(82, 82, 82, 0.44) ;
    transition-duration: 0.1s;
}
.sport-karts a:hover{
    transform: scale(1.01);
}
.sport-karts a:first-child{
    border-left:none;
}
.sport-karts a:last-child{
    border-right:none;
}
.sport-karts div{
    border-top: 5px solid rgba(125, 125, 125, 0.44);
    height:70px;
    margin-top:43px;
    display: flex;
    transition-duration: 0.2s;
}
.sport-karts div:hover{
    background-color: rgba(85, 85, 85, 0.44);
}
.sport-karts p{
    font-size:50px;
    margin-left:10px;
    margin-top:2px;
    color:black;
}
.fa-square-plus{
    margin-left:450px;
    margin-top:7px;
    font-size:50px;
    color:#474747;
    position: absolute;
    transition-duration: 0.2s;
}
.fa-square-plus:hover{
    transform: scale(1.1);
    color: #ff5220;
}
.sodi-view-all{
    width:300px;
    height:60px;
    border:6px solid #ff5220;
    margin:0 auto;
    margin-top:70px;
    background-color: black;
    transition-duration: 0.1s;
}
.sodi-view-all:hover{
    transform: scale(1.02);
    background-color: #323232;
}
.sodi-view-all p{
    color:white;
    font-size:35px;
    text-align: center;
    margin-top:10px;
}
.sodi-world{
    margin-top:100px;
    height:700px;
    width:100%;
    background-image: url(./images/sodi_kart-header.jpg);
    display: flex;
}
.sodi-world-info{
    margin-left:420px;
    margin-top:230px;
    width:50%;
    height:100%;
}
.sodi-world-info h3{
    font-size:20px;
    color:#ff5220;
    font-weight:300;
    margin-left:50px;
}
.sodi-all-world2{
    font-weight: 700;
    font-size:40px;
    color:white;
    margin-left:-10px;
}
.sodi-all-world{
    font-size:40px;
    color:white;
    font-weight: 200;
}
.sodi-map-div{
    position: absolute;
    width:50%;
    height:100%;
}
.sodi-world-map{
    margin-top:170px;
    margin-left:1050px;
}
.sodi-find{
    background-color: #ff5220;
    width:165px;
    height:60px;
    margin-left:130px;
    margin-top:50px;
}
.sodi-find:hover{
    background-color: #ff8c6c;
    transform: scale(1.1);
}
.sodi-find p{
    text-align: center;
    font-size:30px;
    color:white;
    padding-top:11px;
}
.lock-icon{
    margin-left:16.5px;
    margin-top:14px;
    color:#c6c6c6;
}
.lock-icon:hover{
    color:white;
}
.envelope-icon{
    margin-left:15px;
    margin-top:14px;
    color: #ff5220;
}
.envelope-icon:hover{
    color:white;
}
.facebook-icon{
    margin-left:19px;
    margin-top:14px;
    color:#3b5998;
}
.facebook-icon:hover{
    color:white
}
.youtube-icon{
    margin-left:13px;
    margin-top:14px;
    color:red;
}
.youtube-icon:hover{
    color:white;
}
.lenguage-icon{
    margin-top:13px;
    margin-left:11px;
    color:#3b5998;
}
.lenguage-icon:hover{
    color:white;
}
/* .sodi-footer-container{
    max-width:2020px;
    height:50vh;
    background-color: #111;
} */